
# You may want to customise this file depending on your Operating System
# and the editor that you use.
#
# We recommend that you use a Global Gitignore for files that are not related
# to the project. (https://help.github.com/articles/ignoring-files/#create-a-global-gitignore)

# OS
#
# Ref: https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
# Ref: https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# Ref: https://github.com/github/gitignore/blob/master/Global/Linux.gitignore
.DS_STORE
Thumbs.db

# Editors
#
# Ref: https://github.com/github/gitignore/blob/master/Global
# Ref: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
# Ref: https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.idea
.chrome
/*.log
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependencies
node_modules

# Compiled files
/dist
/.nyc_output
/coverage
dist-app/entry.0f84a8e8deccaca55da8.bundle.js
dist-app/entry.0f84a8e8deccaca55da8.bundle.js.LICENSE.txt
dist-app/index.html
dist-app/images/E.svg
dist-app/images/Ecos SVG.svg
dist-app/images/Ecos.png
dist-app/images/header.svg
dist-app/images/header2.svg
dist-app/images/header3.svg
dist-app/images/myhq-workspaces-mwsnmLZltOs-unsplash.jpg
dist-app/images/office-interior-design.jpg
dist-app/images/use-cases/website/conclusion-smartphone.png
dist-app/images/use-cases/website/details-1.jpg
dist-app/images/use-cases/website/details-2.jpg
dist-app/images/use-cases/website/details-3.jpg
dist-app/images/use-cases/website/features-icon-1.svg
dist-app/images/use-cases/website/features-icon-2.svg
dist-app/images/use-cases/website/features-icon-3.svg
dist-app/images/use-cases/website/features-icon-4.svg
dist-app/images/use-cases/website/features-icon-5.svg
dist-app/images/use-cases/website/features-icon-6.svg
dist-app/images/use-cases/website/header-smartphone.png
