.blog-header {
  width: 100%;
  height: 90vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.blog-header-text {
  align-self: flex-start;
    color: white;
    margin: auto auto auto auto;
    max-width: 50vw;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    padding: 32px;
    border-radius: calc(var(--control-corner-radius) * 1px);
    font-family: 'Orelega One', cursive;
    font-size: var(--type-ramp-plus6-font-size);
    line-height: var(--type-ramp-plus6-line-height);
    text-align: center;
    text-shadow: var(--elevation4);
}
.blog-photo-credit {
  display: block;
  font-size: var(--type-ramp-minus1-font-size);
  line-height: var(--type-ramp-minus1-line-height);
}
.blog-explore-categories ecos-badge::part(control) {
  border-color: var(--accent-light-100);
  padding: calc(var(--design-unit) * 1px) calc(var(--design-unit) * 1px);
}