<ecos-section>
  <h1>Badge</h1>
  <p>Badge component is used to highlight an item and attract attention or flag status.</p>
  <p>This component is an extended version from its <a href="https://explore.fast.design/components/fast-badge">FAST version</a>. Instead of requiring the consumer of the component to provide `fill` and `color` attributes, the colors of the badges are set accordingly from the parent Design System Provider.</p>
  <p>Consumer can then use the `appearance` attribute to change from `default`, `accent` and `accent-light` appearances.</p>

  <au-snippet class="larger mobile-full-bleed" enable-output.bind="true">
    <div language="html">
      <ecos-badge>Default</ecos-badge>
      <ecos-badge appearance="accent">Accent</ecos-badge>
      <ecos-badge appearance="accent-light">Accent Light</ecos-badge>
    </div>
  </au-snippet>

</ecos-section>