<ecos-section>
  <ecos-breadcrumb>
    <ecos-breadcrumb-item load="../components-list">Components</ecos-breadcrumb-item>
    <ecos-breadcrumb-item>Breadcrumb</ecos-breadcrumb-item>
  </ecos-breadcrumb>
  <h1>Breadcrumb</h1>
  <p>Use the breadcrumb component and its items to present a clear navigation path.</p>
  <p>This component is stricktly identical to its <a href="https://explore.fast.design/components/fast-breadcrumb">FAST version</a>.</p>
  <au-snippet class="larger mobile-full-bleed" enable-output.bind="true" full-width-output.bind="true">
    <div language="html">
      <ecos-breadcrumb>
        <ecos-breadcrumb-item href="#/components-index">Components</ecos-breadcrumb-item>
        <ecos-breadcrumb-item>Breadcrumb</ecos-breadcrumb-item>
      </ecos-breadcrumb>
    </div>
  </au-snippet>

</ecos-section>