<ecos-section>
  <h1>Button</h1>
  <p>Web component implementation of an HTML button element. The component supports several visual appearances (accent, lightweight, neutral, outline, stealth).</p>
  <p>The ecos version is slightly extended from its <a href="https://explore.fast.design/components/fast-button">FAST version</a>. There is a padding added horizontally when the corner-radius is bigger than 10px to allow for the button content to breath a little more around the edges.</p>
  <au-snippet class="larger mobile-full-bleed" enable-output.bind="true">
    <div language="html">
      <ecos-button>Default</ecos-button>
      <ecos-button appearance="accent">Accent</ecos-button>
      <ecos-button appearance="lightweight">Lightweight</ecos-button>
    </div>
  </au-snippet>
</ecos-section>