<ecos-section>
  <ecos-breadcrumb>
    <ecos-breadcrumb-item load="../components-list">Components</ecos-breadcrumb-item>
    <ecos-breadcrumb-item>Button</ecos-breadcrumb-item>
  </ecos-breadcrumb>
  <h1>Button</h1>
  <p>Web component implementation of an HTML button element. The component supports several visual appearances (accent, lightweight, neutral, outline, stealth).</p>
  <p>The ecos version is slightly extended from its <a href="https://explore.fast.design/components/fast-button">FAST version</a>. There is a padding added horizontally when the corner-radius is bigger than 10px to allow for the button content to breath a little more around the edges.</p>
  <au-snippet class="larger mobile-full-bleed" enable-output.bind="true">
    <div language="html">
      <ecos-button>Default</ecos-button>
      <ecos-button appearance="accent">Accent</ecos-button>
      <ecos-button appearance="lightweight">Lightweight</ecos-button>
    </div>
  </au-snippet>
  <h2>With icons</h2>
  <au-snippet class="larger mobile-full-bleed" enable-output.bind="true">
    <div language="html">
      <p>
        <ecos-button>
          <ecos-icon icon="User" slot="start"></ecos-icon>
          My Profile
        </ecos-button>
      </p>
      <p>&nbsp;</p>
      <p>
        <ecos-button>
          <ecos-icon icon="ChevronRight" slot="end"></ecos-icon>
          Next
        </ecos-button>
      </p>
    </div>
  </au-snippet>

  <h2>Exemples</h2>
  <h4>Default, accent and colors</h4>
  <p>
    <ecos-button>Neutral</ecos-button>
    <ecos-button appearance="accent">Accent</ecos-button>
    <ecos-button appearance="accent" secondary>Secondary</ecos-button>
    <ecos-button appearance="accent" important>Important</ecos-button>
    <ecos-button appearance="accent" error>Error</ecos-button>
  </p>
  <h4>Lightweight, underlined and hover-fill</h4>
  <p>
    <ecos-inline-group>
      <ecos-button appearance="lightweight">Accent</ecos-button>
      <ecos-button appearance="lightweight" secondary>Secondary</ecos-button>
      <ecos-button appearance="lightweight" important>Important</ecos-button>
      <ecos-button appearance="lightweight" error>Error</ecos-button>
    </ecos-inline-group>
    </p>
  <h4>Lightweight with hover-fill</h4>
  <p>
    <ecos-button appearance="lightweight" hover-fill>Accent</ecos-button>
    <ecos-button appearance="lightweight" hover-fill secondary>Secondary</ecos-button>
    <ecos-button appearance="lightweight" hover-fill important>Important</ecos-button>
    <ecos-button appearance="lightweight" hover-fill error>Error</ecos-button>
  </p>
  <h4>Outline</h4>
  <p>
    <ecos-button appearance="outline">Accent</ecos-button>
    <ecos-button appearance="outline" secondary>Secondary</ecos-button>
    <ecos-button appearance="outline" important>Important</ecos-button>
    <ecos-button appearance="outline" error>Error</ecos-button>
  </p>

  <h4>Icons</h4>
  <p>
    <ecos-button icon><ecos-icon icon="User"></ecos-icon></ecos-button>
    <ecos-button icon appearance="accent"><ecos-icon icon="User"></ecos-icon></ecos-button>
    <ecos-button icon appearance="accent" secondary><ecos-icon icon="User"></ecos-icon></ecos-button>
    <ecos-button icon appearance="accent" important><ecos-icon icon="User"></ecos-icon></ecos-button>
    <ecos-button icon appearance="accent" error><ecos-icon icon="User"></ecos-icon></ecos-button>
    <ecos-button icon appearance="lightweight"><ecos-icon icon="User"></ecos-icon></ecos-button>
    <ecos-button icon appearance="lightweight" secondary><ecos-icon icon="User"></ecos-icon></ecos-button>
    <ecos-button icon appearance="lightweight" important><ecos-icon icon="User"></ecos-icon></ecos-button>
    <ecos-button icon appearance="lightweight" error><ecos-icon icon="User"></ecos-icon></ecos-button>
    <ecos-button icon appearance="outline"><ecos-icon icon="User"></ecos-icon></ecos-button>
    <ecos-button icon appearance="outline" secondary><ecos-icon icon="User"></ecos-icon></ecos-button>
    <ecos-button icon appearance="outline" important><ecos-icon icon="User"></ecos-icon></ecos-button>
    <ecos-button icon appearance="outline" error><ecos-icon icon="User"></ecos-icon></ecos-button>
  </p>
</ecos-section>