<ecos-section>
  <ecos-breadcrumb>
    <ecos-breadcrumb-item load="../components-list">Components</ecos-breadcrumb-item>
    <ecos-breadcrumb-item>Button 3D</ecos-breadcrumb-item>
  </ecos-breadcrumb>
  <h1>Button 3d</h1>
  <au-snippet class="larger mobile-full-bleed" enable-output.bind="true">
    <div language="html">
      <ecos-button-3d>Default</ecos-button-3d>
    </div>
  </au-snippet>
  <p>Inspired by <a href="https://www.joshwcomeau.com/animation/3d-button/">Josh Comeau's Magical 3D Button</a></p>
</ecos-section>