<ecos-section>
  <ecos-breadcrumb>
    <ecos-breadcrumb-item load="../components-list">Components</ecos-breadcrumb-item>
    <ecos-breadcrumb-item>Date Field</ecos-breadcrumb-item>
  </ecos-breadcrumb>
  <h1>Date Field</h1>
  <p>Special ecos-text-field with type=date and a calendar view helper to pick a date</p>

  <ecos-date-field value.bind="date"></ecos-date-field>

  <ecos-date-field calendar-appearance="neutral" value.bind="date"></ecos-date-field>

  <ecos-date-field disabled value.bind="date"></ecos-date-field>

  <ecos-date-field appearance="filled" value.bind="date"></ecos-date-field>

</ecos-section