<ecos-section>
  <ecos-breadcrumb>
    <ecos-breadcrumb-item load="../components-list">Components</ecos-breadcrumb-item>
    <ecos-breadcrumb-item>Radio</ecos-breadcrumb-item>
  </ecos-breadcrumb>
  <h1>Radio</h1>
  <p>Documentation in progress</p>

  <p>
    <ecos-radio-group value="radio2">
      <ecos-radio value="radio1">Radio 1</ecos-radio>
      <ecos-radio value="radio2">Radio 2</ecos-radio>
      <ecos-radio value="radio3">Radio 3</ecos-radio>
    </ecos-radio-group>
  </p>
</ecos-section>

<ecos-section>
  <h4>Products : Input</h4>
  <label repeat.for="product of products">
    <input type="radio" name="group4" value.bind="product" checked.bind="selectedProduct">
    ${product}
  </label>

  <br>
  <br>
  <br>

  <h4>Products : ecos-radio</h4>
  
  <fast-radio-group role="genial">
    <label repeat.for="product of products">
      <ecos-radio type="radio" name="group4" value.bind="product" checked.bind="selectedProduct"></ecos-radio> ${product}
    </label>
  </fast-radio-group>
  
  <br>
  <br>
  <br>

  Selected product: ${selectedProduct}
</ecos-section>
