<ecos-section>
  <ecos-breadcrumb>
    <ecos-breadcrumb-item load="../components-list">Components</ecos-breadcrumb-item>
    <ecos-breadcrumb-item>Select</ecos-breadcrumb-item>
  </ecos-breadcrumb>
  <h1>Select</h1>
  <p>
    <ecos-select>
      <ecos-icon icon="Adjustments" slot="start"></ecos-icon>
      <ecos-option>Alphabétique</ecos-option>
      <ecos-option>Proximité</ecos-option>
      <ecos-option>Prix</ecos-option>
    </ecos-select>
    <ecos-select>
      <ecos-option value="alpha">Alphabetical</ecos-option>
      <ecos-option value="distance" selected.bind="choice === 'distance' & attr">Distance</ecos-option>
      <ecos-option value="price">Price</ecos-option>
    </ecos-select>
  </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</ecos-section>