ecos-navbar > .logo {
  margin-right: 16px;
}
ecos-navbar > * + * {
  margin-left: calc((20 + (var(--design-unit) + (var(--design-unit) * max(0, var(--density))))) * 1px);
}

ecos-navbar > .right {
  margin-left: auto;
}
ecos-navbar > ecos-anchor {
  --outline-width: 0;
  color: currentColor;
}
ecos-navbar > ecos-anchor:hover {
  --outline-width: 0;
  color: var(--accent-foreground-hover);
}

/* TODO: color here should be set from design system */
ecos-card[separators] > * + ecos-content,
ecos-card[separators] > * + ecos-card-row,
ecos-card > * + ecos-content[separator],
ecos-card > * + ecos-card-row[separator] {
  border-top: solid #ccc 1px;
}

ecos-card > ecos-menu,
ecos-card > ecos-stack > ecos-menu {
  max-width: none;
}
ecos-table[separators] > ecos-table-row + ecos-table-row {
  border-top: solid #ccc 1px;
}