ecos-navbar > .logo {
  margin-right: 16px;
}
ecos-navbar > * + * {
  margin-left: calc((20 + (var(--design-unit) + (var(--design-unit) * max(0, var(--density))))) * 1px);
}

ecos-navbar > .right {
  margin-left: auto;
}
ecos-navbar > ecos-anchor {
  --stroke-width: 0;
  color: currentColor;
}
ecos-navbar > ecos-anchor:hover {
  --stroke-width: 0;
  color: var(--accent-foreground-hover);
}

/* TODO: color here should be set from design system */
ecos-card[separators] > * + ecos-content,
ecos-card[separators] > * + ecos-card-row,
ecos-card > * + ecos-content[separator],
ecos-card > * + ecos-card-row[separator],
ecos-card-dialog[separators][has-header]::part(content),
ecos-card-dialog[separators]::part(footer) {
  border-top: solid #ccc 1px;
}

ecos-card > ecos-menu,
ecos-card > ecos-stack > ecos-menu {
  max-width: none;
}
ecos-table[separators] > ecos-table-row + ecos-table-row {
  border-top: solid #ccc 1px;
}
ecos-dialog.auto-height {
  --dialog-height: min-content;
}
ecos-dialog.auto-height ecos-card-dialog {
  max-height: 100%;
}
ecos-dialog.auto-height ecos-card-dialog::part(card) {
  max-height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}
ecos-dialog.auto-height ecos-card-dialog::part(header) {
  flex-shrink: 0;
}
ecos-dialog.auto-height ecos-card-dialog::part(footer) {
  flex-shrink: 0;
}
ecos-dialog.auto-height ecos-card-dialog::part(content) {
  flex-shrink: 1;
  overflow-y: auto;
}
@media screen and (min-width: 732px) {
  ecos-dialog.auto-height ecos-card-dialog::part(card) {
    max-height: 80vh;
  }
}
