body {
  font-size: var(--type-ramp-base-font-size);
  line-height: var(--type-ramp-base-line-height);
}

h1 {
  font-size: var(--type-ramp-plus-3-font-size);
  line-height: var(--type-ramp-plus-3-line-height);
}
h2 {
  font-size: var(--type-ramp-plus-2-font-size);
  line-height: var(--type-ramp-plus-2-line-height);
}
h3 {
  font-size: var(--type-ramp-plus-1-font-size);
  line-height: var(--type-ramp-plus-1-line-height);
}

.large-text {
  font-size: var(--type-ramp-plus-3-font-size);
  line-height: var(--type-ramp-plus-3-line-height);
}

.muted-text {
  font-size: var(--type-ramp-minus-1-font-size);
  line-height: var(--type-ramp-minus-1-line-height);
}

h1, .ecos-stack > :not(h1, h2, h3) + h1,
h2:not(:first-child), .ecos-stack > :not(h1, h2, h3) + h2,
h3:not(:first-child), .ecos-stack > :not(h1, h2, h3) + h3 {
  margin-top: calc(2 * var(--spacing-unit-lg));
}

@media screen and (min-width: 732px) {
  h1 {
    font-size: var(--type-ramp-plus-4-font-size);
    line-height: var(--type-ramp-plus-4-line-height);
  }
  h2 {
    font-size: var(--type-ramp-plus-3-font-size);
    line-height: var(--type-ramp-plus-3-line-height);
  }
  h3 {
    font-size: var(--type-ramp-plus-2-font-size);
    line-height: var(--type-ramp-plus-2-line-height);
  }
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: var(--accent-foreground-hover);
}

a:active {
  color: var(--accent-foreground-active);
}