.header {
  width: 100%;
  height: 90vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.header-text {
  align-self: flex-start;
  margin: auto auto auto auto;
  max-width: 50vw;
  min-width: min-content;
  padding: 32px; 
  border-radius: calc(var(--corner-radius) * 1px);
  font-family: 'Orelega One', cursive;
  font-size: var(--type-ramp-plus-1-font-size);
  line-height: var(--type-ramp-plus-1-line-height);
}
@media screen and (min-width: 732px) {
  .header-text {
    margin: auto auto auto auto;
    font-size: var(--type-ramp-plus-2-font-size);
    line-height: var(--type-ramp-plus-2-line-height);
  }
}

